{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'CNPM1/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="wrapper">
      <form method="POST" action="{% url 'register' %}" id="form-login">
        {% csrf_token %}
        <h3 id="heading">Tạo tài khoản</h3>
        <div class="form-group">
          <i class="far fa-user"></i>
          <input
            type="text"
            name="username"
            class="form-input"
            placeholder="Tên đăng nhập"
          />
        </div>
        <div class="form-group">
          <i class="fa-solid fa-key"></i>
          <input
            type="password"
            name="password-1"
            class="form-input pwd"
            placeholder="Mật khẩu"
          />
          <div class="eye">
            <i class="fa-solid fa-eye icon-eye"></i>
          </div>
        </div>
        <div class="form-group">
          <i class="fa-solid fa-key"></i>
          <input
            type="password"
            name="password-2"
            class="form-input pwd"
            placeholder="Nhập lại mật khẩu"
          />
          <div class="eye">
            <i class="fa-solid fa-eye icon-eye"></i>
          </div>
        </div>
        {% if error %}
        <div class="error" style="color: red; margin-bottom: 10px">
          {{ error }}
        </div>
        {% endif %}

        <input type="submit" value="đăng ký ngay" class="form-submit" />
        <p>Bạn đã có tài khoản?<a href="{% url 'login' %}">Đăng nhập</a></p>
      </form>
    </div>
    <script src="{% static 'CNPM1/js/main.js' %}"></script>
  </body>
</html>
